.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: calc(-70 * var(--variableUnitsSize));
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(-60 * var(--variableUnitsSize));
  width: 90%;
  max-width: 800px;
  background-color: var(--backgroundProfileColor);
  color: var(--headerAccountColor);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundProfileColor);
  border-radius: 0.5rem;
  padding: 0.5rem;
  filter: drop-shadow(2px 2px 10px var(--bgLayoutColor));
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(10 * var(--variableUnitsSize));
}

.header__logo {
  position: relative;
  min-width: calc(3 * var(--variableUnitsSize));
  min-height: calc(3 * var(--variableUnitsSize));
  border-radius: 50%;
  margin-left: 0%;
  margin-top: calc(4 * var(--variableUnitsSize));
  margin-bottom: calc(4 * var(--variableUnitsSize));
  overflow: hidden;
}

.header__email {
  font-size: 1rem;
  margin-left: 30px;
}
.dateInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

.dateInfo__createdAt {
  font-size: 1rem;
}
.dateInfo__updatedAt {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: calc(-3 * var(--variableUnitsSize));
}

.body__input {
  width: 90%;
  height: 2.5rem;
  margin: 0.5rem 1rem 1rem 1rem;
}

.body__textarea {
  width: 90%;
  height: 7.5rem;
  margin: 1rem 1rem 1rem 1rem;
}

.body__textarea + .body__input {
  margin: -1rem 1rem 1rem 1rem;
}

.submit {
  margin: 3rem auto 2rem auto;
  width: 50%;
  height: calc(3 * var(--variableUnitsSize));
}

@media screen and (max-width: 1600px) {
  .profileContainer {
    top: calc(-68 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 1200px) {
  .body__input:nth-child(1) {
    margin-top: 1rem;
  }
  .header__logo {
    min-width: calc(3.5 * var(--variableUnitsSize));
    min-height: calc(3.5 * var(--variableUnitsSize));
  }
  .submit {
    height: calc(4.5 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 900px) {
  .body {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__logo {
    min-width: calc(4 * var(--variableUnitsSize));
    min-height: calc(4 * var(--variableUnitsSize));
  }

  .submit {
    height: calc(6 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 820px) {
  .header__logo {
    min-width: calc(4 * var(--variableUnitsSize));
    min-height: calc(4 * var(--variableUnitsSize));
    margin-left: calc(4 * var(--variableUnitsSize));
  }
  .dateInfo {
    margin-left: 170px;
  }
}

@media screen and (max-width: 760px) {
  .body {
    margin-top: calc(-2 * var(--variableUnitsSize));
  }
  .header__logo {
    margin-left: calc(2 * var(--variableUnitsSize));
  }
  .header__email {
    margin-left: calc(3.5 * var(--variableUnitsSize));
  }
  .dateInfo {
    margin-left: 140px;
  }
  .dateInfo__createdAt {
    font-size: 0.9rem;
  }
  .dateInfo__updatedAt {
    font-size: 0.9rem;
  }
  .submit {
    height: calc(6.5 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 680px) {
  .header__email {
    font-size: 1rem;
    margin-left: calc(3 * var(--variableUnitsSize));
  }
  .dateInfo__createdAt {
    font-size: 0.7rem;
  }
  .dateInfo__updatedAt {
    font-size: 0.7rem;
  }
  .submit {
    height: calc(6 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 610px) {
  .profileContainer {
    width: 95%;
  }
  .dateInfo {
    margin-left: 100px;
  }
  .submit {
    height: calc(5.5 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 560px) {
  .header__email {
    font-size: 0.9rem;
    margin-left: calc(1 * var(--variableUnitsSize));
  }

  .submit {
    height: calc(5 * var(--variableUnitsSize));
    font: 0.75rem;
  }
}

@media screen and (max-width: 510px) {
  .header {
    flex-direction: column;
    height: calc(14 * var(--variableUnitsSize));
  }
  .header__logo {
    margin-top: calc(2 * var(--variableUnitsSize));
  }
  .header__email {
    margin-left: 0;
    margin-top: -1rem;
  }
  .dateInfo {
    flex-direction: row;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .dateInfo__updatedAt {
    margin-left: 1rem;
    margin-top: 0;
  }
  .body__input:nth-child(1) {
    margin-top: 2rem;
  }
}
