.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 1px solid #0c05050c;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

.googleIcon {
  width: 10%;
  height: 60%;
}
