.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 1px solid #0c05050c;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon {
  width: 10%;
  height: 60%;
}

.spinner {
  position: relative;
  width: 24px;
  height: 24px;
}

.spinner svg {
  position: absolute;
  top: 0;
  left: 0;
}

.spinner svg circle {
  fill: none;
  stroke-width: 2px;
  stroke: #ffffff;
  stroke-linecap: round;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
  }
  50% {
    stroke-dasharray: 150;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 150;
    stroke-dashoffset: -150;
  }
}
