.avatarWithDropdownContainer {

  min-width: 2.8em;
  min-height: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  user-select: none;
}

.dropdownContainer {
  width: 180px;
  position: absolute;
  right: -1em;
  top: 1.4em;
  z-index: 10;
}

.dropdown {
  width: 100%;
  height: min-content;
  background-color: var(--backgroundDropdownColor);
  color: var(--headerAccountColor);
  border-radius: 0.5rem;
  padding: 0.5rem;
  filter: drop-shadow(2px 2px 10px var(--bgLayoutColor));
}

.email,
.profile,
.stats,
.logOut {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile,
.stats,
.logOut {
  user-select: none;
}

.separator {
  height: 1px;
  background-color: var(--bgLayoutColor);
  margin: 5px 0 5px;
  text-decoration: none;
}

.logOut,
.email {
  cursor: pointer;
}

.email:hover,
.email:focus-visible,
.profile:hover,
.profile:focus-visible,
.stats:hover,
.stats:focus-visible,
.logOut:hover,
.logOut:focus-visible {
  background-color: var(--logoColor);
  color: var(--contentTextColor);
}

.headerAccount {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.headerAccount__image {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 1.9em;
}

.headerAccount__text {
  color: var(--headerAccountColor);
  font-size: 1.0625rem;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
}

@media screen and (max-width: 1200px) {
  .dropdownContainer {
    top: 1.5em;
  }
  .headerAccount__image {
    width: 2rem;
    height: 2rem;
  }
  .headerAccount__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .dropdownContainer {
    top: 1.7em;
    right: -0.9em;
  }
}

@media screen and (max-width: 630px) {
  .dropdownContainer {
    top: 1.8em;
    right: -0.4em;
  }
  .headerAccount__image {
    width: 1.8rem;
    height: 1.8rem;
  }
  .headerAccount__text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .avatarWithDropdownContainer {
    left: 0.5em;
  }
  .dropdownContainer {
    top: 1.9em;
    right: 0em;
  }
  .headerAccount__image {
    width: 1.6rem;
    height: 1.6rem;
  }
  .headerAccount__text {
    font-size: 0.8rem;
  }
}
