.schonadaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: calc(-67 * var(--variableUnitsSize));
  margin-left: calc(5 * var(--variableUnitsSize));
  margin-right: calc(5 * var(--variableUnitsSize));
}
