.images__itemContainer {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  overflow: hidden;
  transition: scale 0.3s;
}

.images__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  z-index: 4;
  cursor: pointer;
}

.author {
  position: absolute;
  top: -15%;
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  color: #fff;
  transition: 0.2s;
}
.moderation {
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  color: #fff;
  transition: 0.2s;
}
.moderation__upload,
.moderation__delete {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.images__itemContainer:hover,
.images__itemContainer:focus-visible {
  scale: 1.06;
}

.images__itemContainer:hover .images__item,
.images__itemContainer:focus-visible .images__item {
  width: 99%;
  height: 99%;
}

.images__itemContainer:hover .images__substrate,
.images__itemContainer:focus-visible .images__substrate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from 45deg,
    #38e0d2 0%,
    #38e0d2 2%,
    transparent 5%,
    transparent 45%,
    #38e0d2 50%
  );
  animation: animate 10s linear infinite;
  filter: drop-shadow(-10px 10px 20px #38e0d2);
  opacity: 0.9;
}

.images__itemContainer:active .images__substrate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #38e0d2;
  filter: drop-shadow(0px 0px 30px #38e0d2);
  opacity: 1;
}

@keyframes animate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.images__itemContainer:hover .author,
.images__itemContainer:focus-visible .author {
  top: 0;
}

.images__itemContainer:hover .moderation,
.images__itemContainer:focus-visible .moderation {
  bottom: 0;
}

.author__avatar {
  position: relative;
  margin-left: 3%;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.moderation__viewsIcon {
  position: relative;
  margin-left: 0.5rem;
  width: 20%;
  height: 80%;
}

.moderation__upload {
  position: absolute;
  right: 20%;
  width: 15%;
  height: 60%;
}

.author__name {
  position: absolute;
  right: 5%;
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.moderation__delete {
  position: absolute;
  right: 3%;
  width: 15%;
  height: 60%;
}
