.travelsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: calc(-72 * var(--variableUnitsSize));
  margin-left: calc(5 * var(--variableUnitsSize));
  margin-right: calc(5 * var(--variableUnitsSize));
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(3 * var(--variableUnitsSize));
  margin-bottom: calc(3 * var(--variableUnitsSize));
}

.country__text {
  font-size: calc(3 * var(--variableUnitsSize));
  font-family: Chronicle Display;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--countryNameColor);
  text-shadow: 5px 5px 7px var(--bgLayoutColor, (144, 21, 228, 1));
}
.country__img {
  position: relative;
  margin-top: calc(1.5 * var(--variableUnitsSize));
  border-radius: calc(2 * var(--variableUnitsSize));
  overflow: hidden;
  width: calc(70 * var(--variableUnitsSize));
  height: calc(40 * var(--variableUnitsSize));
  box-shadow: 1px 1px 10px -2px var(--countryNameColor, (38, 138, 140, 0.8));
}

.country__description {
  margin-top: calc(3 * var(--variableUnitsSize));
  color: var(--countryDescriptionColor);
  line-height: 2.2rem;
  font-size: calc(1.4 * var(--variableUnitsSize));
  font-family: Chronicle Display;
  letter-spacing: 0.05rem;
  text-indent: calc(2 * var(--variableUnitsSize));
}

@media screen and (max-width: 1200px) {
  .country__description {
    font-size: calc(1.8 * var(--variableUnitsSize));
  }
  .country__img {
    width: calc(61 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 800px) {
  .country__description {
    font-size: calc(1.9 * var(--variableUnitsSize));
    line-height: 1.7rem;
  }
  .country__img {
    width: calc(70 * var(--variableUnitsSize));
  }
}
@media screen and (max-width: 680px) {
  .country__img {
    width: calc(56 * var(--variableUnitsSize));
    height: calc(35 * var(--variableUnitsSize));
  }
  .country__description {
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 580px) {
  .country__img {
    width: calc(48 * var(--variableUnitsSize));
    height: calc(30 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 490px) {
  .country__img {
    width: calc(40 * var(--variableUnitsSize));
    height: calc(26 * var(--variableUnitsSize));
  }
  .country__description {
    font-size: calc(1.5 * var(--variableUnitsSize));
    line-height: 1.1rem;
  }
}

@media screen and (max-width: 420px) {
  .country__img {
    width: calc(34 * var(--variableUnitsSize));
    height: calc(20 * var(--variableUnitsSize));
  }
}

@media screen and (max-width: 420px) and (max-height: 700px) {
  .country__img {
    width: calc(42 * var(--variableUnitsSize));
    height: calc(26 * var(--variableUnitsSize));
  }
}
