.policyContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: calc(-60 * var(--variableUnitsSize));
  line-height: 1.6;
  color: #e2d7d7;
}

.policyContainer__generalHeading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #410469;
}

.policyContainer__heading {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #b4a2b8;
}

.policyContainer__paragraph {
  margin-bottom: 1rem;
}

.list {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.list__item {
  margin-bottom: 0.5rem;
}

.contact {
  margin-top: 2rem;
  font-style: italic;
  color: #349ad4;
}
