:root {
  --logoColor: rgb(136, 121, 224);
  --headerItemColor: rgb(73, 49, 228);
  --headerAccountColor: rgb(55, 34, 170);
  --bgLayoutColor: rgb(11, 29, 38);
  --contentTextColor: rgb(255, 255, 255);
  --contentUpperTextColor: rgb(231, 217, 15);
  --sliderTextColor: rgb(253, 254, 255);
  --variableUnitsSize: max(1vh, 1vw);
  --countryNameColor: rgb(29, 189, 218);
  --countryDescriptionColor: rgb(255, 255, 255);
  --backgroundDropdownColor: rgb(224, 221, 221);
  --backgroundProfileColor: rgba(250, 245, 245, 0.4);
  --loaderColor: rgb(56, 231, 40);
  --imageUploadModalColor: rgb(250, 253, 255);
  --imageUploadDndColor: rgba(146, 132, 211, 0.25);
  --buttonBackgroundColor: rgb(233, 230, 252);
  --buttonLoginBackgroundColor: rgb(113, 93, 223);
  --buttonBoxShadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
  --notFoundBackgroundColor: rgb(189, 224, 235);
  --notFoundOtherTextColor: rgb(164, 185, 184);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
*:visited {
  color: inherit;
}
